.hero-block {
  width: 100%;
  height: calc(100vh - 150px);
  background: url("https://i.ibb.co/6XbPvZk/hero-block-decore.png"), url("https://i.ibb.co/mTNMGnL/hero-block.png");
  background-size: cover, cover;

  &__heading {
    color: #274C5B;
    font-size: 4.375rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }

  &__inner-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}