.button {
  min-width: 200px;
  max-width: 250px;
  height: 80px;
  position: relative;
  font: inherit;
  border-radius: 1rem;
  background-color: #274C5B;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: .3s;

  &:disabled {
    background-color: #4c93b0;
    &:hover {
      background-color: #4c93b0;
      box-shadow: none;
      animation: none;
      &:after {
        animation: none;
      }
    }
  }

  &:hover {
    box-shadow: 0 0 10px 1px #7a7a7a;
    &:after {
      animation: dribbling 0.9s ease-out infinite;
    }
  }

  &:after {
    content: "\279C";
    position: relative;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #335B6B;
    color: #fff;
    border-radius: 50%;
    left: 10px;
    font-size: 10px;
  }

  &.pagination {
    &:after {
      display: none;
    }
  }
  &.default {
  }
  &.default--yellow {
    background-color: #EFD372;
    color: #274C5B;
  }
  &.default--white {
    background-color: #FFF;
    border: 1px solid #274C5B;
    color: #274C5B;
  }
}

@keyframes dribbling {
  0% {
    left: 10px;
  }
  50% {
    left: 15px;
  }
  100% {
    left: 10px;
  }
}