.order-wrapper{
  display: flex;
  padding: 20px 0;
}

.order-details {
  width: 80%;

  &__info-header {
    display: flex;
    color: #274C5B;
    font-family: "Roboto", sans-serif;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;

    & > div {
      width: 17%;

      &:nth-child(1) {
        width: 49%;
      }
    }
  }
}

.order-credentials {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__item {
    color: #274C5B;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    & span {
      font-weight: 600;
    }
  }
}