.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 1100px;
  justify-content: center;
  gap: 50px;
  margin: 0 auto;

  &__field {
    display: flex;
    flex-direction: column;

    & input, textarea {
      width: 100%;
      box-sizing: border-box;
    }

    &:nth-last-child(2) {
      color: red;
      grid-column-start: 1;
      grid-column-end: span 2;
    }

    & label {
      margin-bottom: 20px;
      color: #274C5B;
      font-family: "Roboto", sans-serif;
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }

    & textarea {
      padding-top: 10px;
      min-height: 200px;
    }

    & input, textarea {
      border-radius: 1rem;
      border: 1px solid #7EB693;
      background-color: #FFF;
      height: 80px;
      padding-left: 25px;
      font-family: "Roboto", sans-serif;
      color: #274C5B;
      font-size: 1.125rem;
      font-weight: 400;

      &:focus {
        outline: none;
      }


      &::placeholder {
        color: #ABABAB;
        font-size: 1.125rem;
        font-style: italic;
        font-weight: 400;
        line-height: normal;
      }
    }
  }

  & button {
    grid-row-start: 4;
    margin: 0 auto;
    grid-column-start: 1;
    grid-column-end: 3;
    border-radius: 1rem;
    background-color: #274C5B;
    width: 200px;
    height: 70px;
    color: #FFF;
    font-family: "Roboto", sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: .3s;

    &:hover {
      box-shadow: 0 0 10px 1px #7a7a7a;
      background-color: #EFD372;
      &:after {
        animation: dribbling 0.9s ease-out infinite;
      }
    }
  }

  &__error {
    position: relative;
    top: 5px;
    left: 5px;
    font-size: 14px;
    color: red;
    font-style: italic;
  }
}