.thanks-page {
  height: 40vh !important;
  background-image: url("https://i.ibb.co/QvB2zP5/thanks-background.png");
  background-repeat: no-repeat;
  background-size: cover;

  &__heading {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
}